@font-face {
    font-family: 'Pentameter Regular';
    src: url(fonts/Pentameter-Wide-Regular-Trial.woff);
}

@font-face {
    font-family: 'Pentameter Light';
    src: url(fonts/Pentameter-Wide-Light-Trial.woff);
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(fonts/HelveticaNeue-Light.woff);
    src: url(fonts/HelveticaNeue-Light.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(fonts/HelveticaNeue-Bold.woff);
    src: url(fonts/HelveticaNeue-Bold.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(fonts/HelveticaNeue-Medium.woff);
    src: url(fonts/HelveticaNeue-Medium.woff2);
}

body {
    font-family: 'Helvetica Neue Light';
    width: 600px;
    line-height: 1.7em;
    margin: auto;
    background-color: #dfdfdf;
}

header{
    padding-top: 100px;
}

h1{
    font-family: Pentameter Regular;
    margin: 10px 0px;
    line-height: 1.2em;
}

hr{
    border-top: 1px black solid;
}

.main {
    padding-top: 50px;
}

.post {
    border: 1px solid black;
    padding: 20px;
    margin: 20px 0px;
}

p{
    margin: 20px 0px;
    font-size: 1.2em;
}

.date {
    font-size: 12px;
    margin: 10px 0px;
    font-style: italic;
}

a {
    color: black;
}

a:visited{
    color: black;
}

.main-writing p {
    padding: 5px 0px;
}

.post-nav{
    display: flex;
    justify-content: space-between;
}

#home{
    text-align: center;
    margin: 20px 0px;
}

.indent{
    display: inline-block;
    width: 50px;
}

.appear{
    display: none;
}
.image{
    margin: 50px 0px;
}

.caption{
    font-size: .8rem;
    font-style: italic;
    margin: 0px 0px 20px 0px;
}

@media only screen and (max-width: 600px) {
    body{
        width: 90%;
    }

    h1{
        font-size: 1.75rem;
    }

    .main {
        padding-top: 20px;
    }

    .post h1 {
        font-size: 1.25rem;
    }

    header{
        padding-top: 50px;
    }
}